@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 16px;
  background-color: white;
  color: #1d2025;
  line-height: 1.5;
}

@media only screen and (min-width: 768px) {
  body {
    max-height: 100vh;
  }
}

#overlay {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

header nav {
  display: flex;
  align-items: center;
}

header nav ul {
  display: none;
  list-style-type: none;
}

header nav ul li {
  font-weight: 700;
  padding: 1rem 0;
}

header nav ul li a {
  text-decoration: none;
  color: #1d2025;
}

header nav .show-nav {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  padding: 5rem 0.7rem;
  background-color: white;
  height: 100vh;
  width: 70%;
  z-index: 20;
}

header nav .menu-icon {
  position: relative;
  padding: 1.2rem;
  z-index: 5;
  z-index: 500;
}

header nav .menu-icon button {
  border: none;
  background-color: transparent;
  box-shadow: none;
}

header nav .hide-icon {
  display: none;
}

header .user {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 1rem;
}

header .user .profile img {
  width: 28px;
}

header .user .profile {
  padding: 0 1rem;
}

header #cartbtn {
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  header {
    margin: 0 10%;
    padding: 1.5rem 0;
    border-bottom: 1px solid #f7f8fd;
  }
  header .menu-icon {
    display: none;
  }
  header nav {
    flex-direction: row-reverse;
    justify-content: space-evenly;
  }
  header nav ul {
    display: flex;
    justify-content: flex-end;
    padding-left: 3rem;
  }
  header nav ul li {
    padding: 0 1rem;
  }
  header nav ul li a {
    color: #68707d;
  }
  header nav ul li a:hover {
    color: #1d2025;
    border-bottom: 2px solid #ff7d1a;
  }
  header .user {
    padding: 0;
  }
  header .user .profile {
    padding: 0;
    margin-left: 3rem;
  }
  header .user .profile img {
    width: 55px;
  }
  header .user .profile img:hover {
    border: 2px solid #ff7d1a;
    border-radius: 50%;
  }
}

@media only screen and (min-width: 768px) {
  main {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    padding: 3rem;
    position: relative;
  }
}

#gallery .slides {
  position: relative;
}

#gallery .slides .slide {
  display: none;
}

#gallery .slides .active {
  display: block;
}

#gallery .slides .sliderBtn {
  width: 50px;
  height: 50px;
  padding: 1rem;
  position: absolute;
  background-color: #f7f8fd;
  border-radius: 50%;
  text-align: center;
}

#gallery .slides .sliderBtn img {
  width: 70%;
  height: 80%;
}

#gallery .slides #prev {
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
}

#gallery .slides #next {
  top: 50%;
  right: 5%;
  transform: translateY(-50%);
}

#gallery .slides img {
  width: 100%;
}

#gallery .thumbnail {
  display: none;
}

@media only screen and (min-width: 768px) {
  #gallery {
    width: 35%;
    padding: 0 3rem;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  #gallery .thumbnail {
    display: flex;
    cursor: pointer;
  }
  #gallery .thumbnail img {
    margin: 1rem;
  }
  #gallery .thumbnail img:hover {
    border: 1px solid #ff7d1a;
  }
  #gallery .sliderBtn {
    display: none;
  }
  #gallery .slides {
    margin: 1rem;
    cursor: pointer;
  }
  #gallery img {
    border-radius: 15px;
  }
}

.about {
  padding: 1.5rem;
}

.about #heading {
  color: #ff7d1a;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.15rem;
}

.about h1 {
  padding: 1rem 0;
  font-size: 26px;
  color: #1d2025;
}

.about p {
  color: #68707d;
  text-align: justify;
  font-size: 15px;
}

.about .price {
  font-size: 24px;
  font-weight: 700;
  margin: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about .price .offer {
  display: flex;
  align-items: center;
}

.about .price #discount {
  background-color: #ffede0;
  font-size: 14px;
  border-radius: 7px;
  padding: 0.2rem 0.3rem;
  margin: 0 1rem;
  color: #ff7d1a;
}

.about .price #original-price {
  color: #b6bcc8;
  font-size: 16px;
  text-decoration: line-through;
}

.about .add-to-cart {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f7f8fd;
  border-radius: 10px;
}

.about .add-to-cart button {
  border: none;
  background-color: transparent;
  padding: 1rem;
}

.about .add-to-cart #amount {
  color: #1d2025;
  font-weight: 700;
}

@media only screen and (min-width: 768px) {
  .about {
    width: 35%;
    padding: 3.5rem 2rem;
  }
  .about h1 {
    font-size: 45px;
    line-height: 1;
  }
  .about #heading {
    font-size: 16px;
  }
  .about p {
    font-size: 16px;
    padding: 1rem 0;
  }
  .about .price {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .about .price .offer {
    font-size: 36px;
  }
  .about .price .offer #discount {
    font-size: 18px;
  }
  .about .add-to-cart {
    float: left;
    margin: 1rem 0;
    width: 35%;
  }
  .about .btn-primary {
    width: 60%;
    margin-left: 1rem;
  }
  .about button {
    cursor: pointer;
  }
}

img {
  width: 100%;
}

.btn-primary {
  background-color: #ff7d1a;
  border: none;
  padding: 1rem;
  width: 100%;
  color: white;
  font-weight: 700;
  border-radius: 10px;
  font-family: "Kumbh Sans", sans-serif;
  font-size: 16px;
  margin: 1rem 0;
}

.btn-primary img {
  width: 16px;
  margin-right: 0.5rem;
}

#cart {
  display: none;
  position: absolute;
  box-shadow: 0 15px 15px 0px rgba(0, 0, 0, 0.1);
  top: 8%;
  right: 50%;
  transform: translateX(50%);
  width: 350px;
  max-width: 100%;
  min-height: 200px;
  max-height: 100%;
  background-color: white;
  border-radius: 15px;
  text-align: center;
}

#cart h3 {
  padding: 1.5rem;
  border-bottom: 1px solid #b6bcc8;
}

#cart .product {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #68707d;
  font-weight: 700;
  padding: 1rem;
}

#cart .item {
  display: flex;
  color: #68707d;
  align-items: center;
  justify-content: space-evenly;
  padding: 1rem 1.5rem 0 1.5rem;
}

#cart .item img {
  max-width: 65px;
  height: auto;
  border-radius: 5px;
}

#cart .item .details {
  text-align: left;
}

#cart .item img:last-child {
  width: 15px;
  cursor: pointer;
}

#cart .price {
  color: #68707d;
}

#cart .price span {
  color: black;
  font-weight: 700;
}

#cart button {
  width: 80%;
}

@media only screen and (min-width: 768px) {
  #cart {
    right: 8%;
    transform: translateX(0);
    top: 0;
  }
}

#modal {
  width: 600px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#modal .slides {
  position: relative;
  width: 100%;
}

#modal .slides .slide {
  display: none;
}

#modal .slides .active {
  display: block;
}

#modal .slides .sliderBtn {
  width: 50px;
  height: 50px;
  padding: 1rem;
  position: absolute;
  background-color: #f7f8fd;
  border-radius: 50%;
  text-align: center;
}

#modal .slides .sliderBtn img {
  width: 70%;
  height: 80%;
}

#modal .slides #prev {
  top: 50%;
  left: -5%;
  transform: translateY(-50%);
}

#modal .slides #next {
  top: 50%;
  right: -5%;
  transform: translateY(-50%);
}

#modal .slides img {
  width: 100%;
}

#modal .thumbnail {
  display: flex;
  cursor: pointer;
}

#modal .thumbnail img {
  margin: 1rem;
}

#modal .thumbnail img:hover {
  border: 1px solid #ff7d1a;
}

#modal .slides {
  margin: 1rem;
  cursor: pointer;
}

#modal img {
  border-radius: 15px;
}
/*# sourceMappingURL=style.css.map */